# https://gohugo.io/configuration/minify/
disableCSS = false
disableHTML = false
disableJS = false
disableJSON = false
disableSVG = false
disableXML = false  # Takes long to build when XML is long
minifyOutput = true
