{
    "plugins": [
        "prettier-plugin-go-template",
        "prettier-plugin-lint-md"
    ],
    "overrides": [
        {
            "files": [
                "layouts/**/*.html",
                "content/**/*.html"
            ],
            "options": {
                "parser": "go-template"
            }
        }
    ],
    "tabWidth": 4
}
