<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link
    rel="icon"
    type="image/png"
    href="/favicon/favicon-96x96.png"
    sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<!-- Duplicate favicon, already added by theme -->
<!-- <link rel="shortcut icon" href="/favicon/favicon.ico" /> -->
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicon/apple-touch-icon.png"
/>
<meta name="apple-mobile-web-app-title" content="Sunset 的重构博客" />
<link rel="manifest" href="/favicon/site.webmanifest" />

<script data-cfasync="false">
    (function () {
        var src = "//fastly.jsdelivr.net/npm/eruda@latest/eruda.js";
        if (
            !/eruda=true/.test(window.location) &&
            localStorage.getItem("active-eruda") != "true"
        )
            return;
        document.write("<scr" + 'ipt src="' + src + '"></scr' + "ipt>");
        document.write("<scr" + "ipt>eruda.init();</scr" + "ipt>");
    })();
    (function () {
        var src = "//fastly.jsdelivr.net/npm/vconsole@latest/dist/vconsole.min.js";
        if (
            !/vconsole=true/.test(window.location) &&
            localStorage.getItem("active-vconsole") != "true"
        )
            return;
        document.write("<scr" + 'ipt src="' + src + '"></scr' + "ipt>");
        document.write(
            "<scr" + "ipt>var vConsole = new window.VConsole();</scr" + "ipt>",
        );
    })();
</script>
