@import url(https://unpkg.com/@callmebill/lxgw-wenkai-web@1.501.0/style.css);

.lxgw-wenkai {
    font-family: "LXGW WenKai";
    font-weight: normal;
    --article-font-family: "LXGW WenKai", var(--article-font-family);
}
