/* https://unpkg.com/@fontsource/maple-mono@5.2.6/index.css */

/* maple-mono-latin-400-normal */
@font-face {
    font-family: "Maple Mono";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        url(https://unpkg.com/@fontsource/maple-mono@5.2.6/files/maple-mono-latin-400-normal.woff2)
            format("woff2"),
        url(https://unpkg.com/@fontsource/maple-mono@5.2.6/files/maple-mono-latin-400-normal.woff)
            format("woff");
}
