/*
    You can add your own custom styles here.
*/

// 萌娘百科 黑幕 CSS
@import "heimu";

// lxgw-wenkai Webfont
// @import "lxgw-wenkai-web";

// Twemoji
@import "twemoji";

// font-family: 'HarmonyOS Sans SC';
// @import url("https://unpkg.com/@lobehub/webfont-harmony-sans-sc@1.0.0/css/index-full.css");
@import "HarmonyOSSansSC";

// 为元素添加过渡效果
aside,
article {
    transition: all 0.5s ease-in-out;
}

// 打印优化
@media print {
    aside {
        display: none !important;
    }

    .waline-container {
        display: none !important;
    }

    .site-footer {
        display: none !important;
    }

    .article-category {
        display: none !important;
    }

    .article-footer {
        display: none !important;
    }

    .article-content > p {
        margin: 0.5em 0 !important;
    }

    :root {
        --article-font-size: 1.2rem !important;
        --article-line-height: 1.85 !important;
    }

    @import "gutenberg/gutenberg";
}

:root {
    /* Based on theme default */
    --zh-font-family:
        "HarmonyOS Sans SC", "PingFang SC", "Hiragino Sans GB",
        "Droid Sans Fallback", "Microsoft YaHei";
    --base-font-family:
        "HarmonyOS Sans SC", "Lato", var(--sys-font-family),
        var(--zh-font-family), sans-serif, "Twemoji";
    --code-font-family:
        Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
    font-display: swap; /* 避免文字消失 */
}
