<noscript>
    For full functionality of this site it is necessary to enable JavaScript.
    Here are the
    <a href="https://www.enable-javascript.com/">
        instructions how to enable JavaScript in your web browser</a
    >.
</noscript>

<script>
    if (localStorage.getItem("LXGW-WenKai")) {
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href =
            "https://unpkg.com/lxgw-wenkai-screen-web@1.501.0/style.css";
        document.head.appendChild(link);
        document.body.classList.add("lxgw-wenkai");
    }
</script>

<script>
    (function () {
        // Change emoji on click
        var emojiSpan = document.getElementsByClassName("emoji")[0];
        var emojiList = [
            "🇺🇦",
            "🏳️‍🌈",
            "🏳️‍⚧️",
            "🦄",
            "🏴‍☠️",
            "🍥",
            "🐍",
            "🐦‍🔥",
            "🐉",
            "🦖",
            "🐧",
            "🇺🇳",
            "🇦🇶",
            "💻",
            "⌨️",
            "📎",
        ];
        var currentIndex = 0;
        function rotateEmoji(emojiSpan) {
            // Move to the next emoji in the list
            currentIndex = (currentIndex + 1) % emojiList.length;
            emojiSpan.innerHTML = emojiList[currentIndex];
        }
        emojiSpan.onclick = function () {
            rotateEmoji(emojiSpan);
        };
        // Prevent text selection
        emojiSpan.style.userSelect = "none";
        // console.log("emojiSpan", emojiSpan);
        if (navigator.language === "zh-TW") {
            emojiList.add("🇹🇼");
        }
    })();
</script>
