<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js"></script>
<div id="pagefindui"></div>
<div id="legacysearch" style="display: none;">
    <div class="not-found-card">
        <h1 class="article-title">Pagefind 错误</h1>
        <h2 class="article-subtitle">
            Pagefind UI
            初始化失败，请检查控制台和构建流程。对于一般用户，请使用<a
                href="/legacysearch/"
                class="link"
                >旧版搜索</a
            >。
        </h2>
    </div>
</div>
<script>
    // https://kiko.io/post/Pagefind-UI-and-URL-Parameters/
    // get value search parameter
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    let searchString = urlParams.get("keyword");

    window.addEventListener("DOMContentLoaded", (event) => {
        // Check for PagefindUI
        if (typeof PagefindUI === "undefined") {
            document.getElementById("legacysearch").style.display = "block";
            return;
        }

        try {
            let pagefind = new PagefindUI({
                element: "#pagefindui",
                showSubResults: true,
                pageSize: 10,
                showImages: false,
                highlightParam: "highlight",
            });

            console.info("[PagefindUI]", pagefind);
        } catch (e) {
            console.error("[PagefindUI]", e);
            document.getElementById("legacysearch").style.display = "block";
            return;
        }

        if (typeof searchKeyword !== "undefined" && searchKeyword != null) {
            // searchKeyword is const by 404 page
            console.info("[PagefindUI]", "searchKeyword", searchKeyword);
            pagefind.triggerSearch(searchKeyword);
        } else if (searchString != null) {
            console.info("[PagefindUI]", "searchString", searchString);
            pagefind.triggerSearch(searchString);
        }
    });
</script>
