<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js"></script>
<div id="pagefindui"></div>
<div id="legacysearch" style="display: none;">
    <div class="not-found-card">
        <h1 class="article-title">Pagefind 错误</h1>
        <h2 class="article-subtitle">
            Pagefind 索引不存在，请检查构建流程。对于一般用户，请使用<a
                href="/legacysearch/"
                class="link"
                >旧版搜索</a
            >。
        </h2>
    </div>
</div>
<script>
    // https://kiko.io/post/Pagefind-UI-and-URL-Parameters/
    // get value search parameter
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    let searchString = urlParams.get("keyword");

    window.addEventListener("DOMContentLoaded", (event) => {
        // Check for PagefindUI
        if (typeof PagefindUI === "undefined") {
            document.getElementById("legacysearch").style.display = "block";
            return;
        }

        let pagefind = new PagefindUI({
            element: "#pagefindui",
            showSubResults: true,
            pageSize: 10,
            showImages: false,
            highlightParam: "highlight",
        });

        console.info("[PagefindUI]", pagefind);

        if (typeof searchKeyword !== "undefined" && searchKeyword != null) {
            // searchKeyword is const by 404 page
            console.info("[PagefindUI]", searchKeyword);
            pagefind.triggerSearch(searchKeyword);
        } else if (searchString != null) {
            console.info("[PagefindUI]", searchString);
            pagefind.triggerSearch(searchString);
        }
    });

    function waitForElm(selector) {
        return new Promise((resolve) => {
            if (document.querySelector(selector)) {
                return resolve(document.querySelector(selector));
            }

            const observer = new MutationObserver((mutations) => {
                if (document.querySelector(selector)) {
                    resolve(document.querySelector(selector));
                    observer.disconnect();
                }
            });

            observer.observe(document.body, {
                childList: true,
                subtree: true,
            });
        });
    }

    // setting the focus into the generated INPUT field as it appears
    waitForElm(".pagefind-ui__search-input").then((elm) => {
        elm.focus();
    });
</script>
