{{- $src := .Get "src" | default (.Get 0) -}}
{{ $uniqueID := substr ($src | md5) 0 8 }}
<div class="audio-links">
    <p>
        <code>{{ $src | safeHTML }}</code>
        |
        <a href="{{- $src -}}" download>下载音频</a>
        |
        <a
            href="/tools/libmedia/product/player/player.html?isLive=0&hasFolder=1&hasHeader=1&hasFooter=1&foldFolder=1&url="
            target="_blank"
            id="audio-link-libmedia-{{ $uniqueID }}"
            >不支持的格式？</a
        >
        <script>
            (function () {
              var uniqueID = "{{ $uniqueID }}";
              var origSrc = "{{ $src }}";
              var link = document.getElementById("audio-link-libmedia-" + uniqueID);
              var currentPageLocation = window.location.toString();
              if (currentPageLocation.endsWith("/") == false) {
                currentPageLocation += "/";
              }
              if (origSrc.includes("://")) {
                var src = origSrc;
              } else {
                var src = currentPageLocation + origSrc;
              }
              src = encodeURI(src);
              var href = "/tools/libmedia/product/player/player.html?isLive=0&hasFolder=1&hasHeader=1&hasFooter=1&foldFolder=1&url=" + src;
              link.href = href;
            })();
        </script>
    </p>
</div>
<div class="audio-wrapper">
    <audio
        controls
        src="{{- $src -}}"
        {{ with .Get "autoplay" }}autoplay{{ end }}
        preload="metadata"
    >
        <p>
            Your browser doesn't support HTML5 audio. Here is a
            <a href="{{- $src -}}">link to the audio</a> instead.
        </p>
    </audio>
</div>
