{{ $uniqueID := substr (.Get "file" | md5) 0 8 }}
{{ $pdfFile := .Get "file" }}


<div>
    <p>
        <code>{{ $pdfFile | safeHTML }}</code>
        |
        <a
            href="{{ $pdfFile }}"
            id="embed-pdf-download-{{ $uniqueID }}"
            download
            >下载PDF</a
        >
        |
        <a
            href="/tools/pdf-js/web/viewer.html?file="
            target="_blank"
            id="embed-pdf-link-{{ $uniqueID }}"
            >在新页面打开</a
        >
    </p>
    <iframe
        src="/tools/pdf-js/web/viewer.html?file="
        style="aspect-ratio: 16/9; width: 100%; border: none; overflow: hidden"
        id="embed-pdf-iframe-{{ $uniqueID }}"
    ></iframe>
  <script>
    (function () {
      var uniqueID = "{{ $uniqueID }}";
      var filepath = "{{ $pdfFile }}";
      var iframe = document.getElementById("embed-pdf-iframe-" + uniqueID);
      var link = document.getElementById("embed-pdf-link-" + uniqueID);
      var download = document.getElementById("embed-pdf-download-" + uniqueID);
      var currentPageLocation = window.location.toString().split('?')[0]?.split('#')[0];
      if (currentPageLocation.endsWith("/") == false) {
        currentPageLocation += "/";
      }
      if (filepath.includes("://")) {
        var src = filepath;
      } else {
        var src = currentPageLocation + filepath;
      }
      var raw_src = src.valueOf();
      src = encodeURI(src);
      var href = "/tools/pdf-js/web/viewer.html?file=" + src;
      iframe.src = href;
      link.href = href;
      // download.href = raw_src;
    })();
  </script>
</div>
