<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js"></script>
<div id="pagefindui"></div>
<script>
    // https://kiko.io/post/Pagefind-UI-and-URL-Parameters/
    // get value search parameter
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    let searchString = urlParams.get("keyword");

    window.addEventListener("DOMContentLoaded", (event) => {
        let pagefind = new PagefindUI({
            element: "#pagefindui",
            showSubResults: true,
            pageSize: 10,
            showImages: false,
            highlightParam: "highlight",
        });

        if (searchString) {
            pagefind.triggerSearch(searchString);
        }
    });

    function waitForElm(selector) {
        return new Promise((resolve) => {
            if (document.querySelector(selector)) {
                return resolve(document.querySelector(selector));
            }

            const observer = new MutationObserver((mutations) => {
                if (document.querySelector(selector)) {
                    resolve(document.querySelector(selector));
                    observer.disconnect();
                }
            });

            observer.observe(document.body, {
                childList: true,
                subtree: true,
            });
        });
    }

    // setting the focus into the generated INPUT field as it appears
    waitForElm(".pagefind-ui__search-input").then((elm) => {
        elm.focus();
    });
</script>
