name: Hugo CI

on:
    # Runs on pushes targeting the default branch
    push:
        branches: [$default-branch, main]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    ci:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # GitInfo needs the full history

            - name: Cache Hugo resources
              uses: actions/cache@v4
              env:
                  cache-name: cache-hugo-resources
              with:
                  path: resources
                  key: ${{ env.cache-name }}

            - name: Run workers_build.sh
              run: chmod a+x workers_build.sh && ./workers_build.sh

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: public
                  path: "public/"
                  compression-level: 9
                  include-hidden-files: true
